<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../input/adult.data.csv')
data.head(3)

   age         workclass  fnlwgt  ...   hours-per-week  native-country salary
0   39         State-gov   77516  ...               40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...               13   United-States  <=50K
2   38           Private  215646  ...               40   United-States  <=50K

[3 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
data.groupby("sex")["sex"].count()

sex
Female    10771
Male      21790
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
data.head(2)

data[data["sex"]=="Female"]["age"].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
data.head(2)
german_citizens  = data.loc[(data["native-country"]=="Germany"),["native-country"]].count().values
german_citizens = (german_citizens/(len(data)))*100
german_citizens

array([0.42074875])

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
salary_above50k = data.loc[(data["salary"]==">50K"),["age"]].aggregate(["mean","std"])
salary_above50k
salary_below50k = data.loc[(data["salary"]=="<=50K"),["age"]].aggregate(["mean","std"])
[salary_above50k,salary_below50k]
#data.groupby("salary").count()

[            age
 mean  44.249841
 std   10.519028,             age
 mean  36.783738
 std   14.020088]

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [7]:
#data.head(3)
data[(data["salary"]==">50K")].groupby("education")["education"].count()
#data.groupby("education")["education"].count()

education
10th              62
11th              60
12th              33
1st-4th            6
5th-6th           16
7th-8th           40
9th               27
Assoc-acdm       265
Assoc-voc        361
Bachelors       2221
Doctorate        306
HS-grad         1675
Masters          959
Prof-school      423
Some-college    1387
Name: education, dtype: int64

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [8]:
data.groupby("race")["sex"].count()
data.groupby("race")["sex","age"].describe()
#data.groupby("race")["sex","age"].max()

                        age                        ...
                      count       mean        std  ...    50%   75%   max
race                                               ...
Amer-Indian-Eskimo    311.0  37.173633  12.447130  ...   35.0  45.5  82.0
Asian-Pac-Islander   1039.0  37.746872  12.825133  ...   36.0  45.0  90.0
Black                3124.0  37.767926  12.759290  ...   36.0  46.0  90.0
Other                 271.0  33.457565  11.538865  ...   31.0  41.0  77.0
White               27816.0  38.769881  13.782306  ...   37.0  48.0  90.0

[5 rows x 8 columns]

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [9]:
data["married"] = data["marital-status"].apply(lambda x: "Married" if x.__contains__("Married") else "Bachelor")

#len(data[data["salary"]==">50K"])
data.loc[data["salary"]==">50K"].groupby("married")["age"].count()/len(data[data["salary"]==">50K"])

married
Bachelor    0.140926
Married     0.859074
Name: age, dtype: float64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [10]:
data.groupby("hours-per-week")["hours-per-week"].max().aggregate(["count","max"])

count    94
max      99
Name: hours-per-week, dtype: int64

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [11]:
data[data["native-country"]=="Japan"].groupby(["native-country","salary"])[["hours-per-week"]].mean()

                       hours-per-week
native-country salary
Japan          <=50K        41.000000
               >50K         47.958333